.container {
    line-height: 2rem;
}

.dates {
    display: flex;
    justify-content: center;
    margin: auto;
    .date {
        margin: 0 0.5rem;
        border: 1px solid black;
        padding: 0.5rem 1rem;
        width: 1rem
    }
}