* {
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.components {
  text-align: center;
  width: 34%;
  height: 100vh;
  border: 1px solid black;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}